<script lang="ts">
import Vue from 'vue';

import { HeadingDecoration } from '~/components/common/index.vue';

export default Vue.extend({
  name: 'PartnersResources',
  components: {
    HeadingDecoration,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>
<template>
  <div class="container">
    <SlpContainer>
      <HeadingDecoration />
      <SlpTypography tag="h2" variant="heading2-bold" class="slp-pb-32">{{
        data.header
      }}</SlpTypography>
      <SlpRow class="container__content">
        <SlpColumn
          v-for="(item, index) in data.links"
          :key="item.name + index"
          :cols="4"
          class="container__content__item"
        >
          <SlpButton :href="item.link" v-bind="item.ga" variant="tertiary"
            >{{ item.name }}
            <SlpIcon
              class="slp-ml-8"
              name="chevron-lg-right"
              variant="product"
              hex-color="#7759C2"
          /></SlpButton>
          <SlpTypography tag="p" variant="body2">{{
            item.description
          }}</SlpTypography>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.container {
  height: 100%;
  background-color: $color-surface-800;
  padding: $spacing-48 0;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      padding: $spacing-24 0 $spacing-24 $spacing-8;
      max-width: 334px;

      a {
        color: $color-text-link-100;
        text-align: left;
        padding-left: 0;

        &:hover {
          text-decoration-color: $color-text-link-100;
        }
      }
    }
  }
}
</style>
