<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ComparisonPane',
  props: {
    comparisonData: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div class="analysis-pane">
    <div class="analysis-pane-title">
      <SlpTypography variant="heading5-bold">{{
        comparisonData.title
      }}</SlpTypography>
      <nuxt-img class="slp-mt-16" :src="comparisonData.harveyball" />
    </div>
    <SlpTypography class="slp-mt-24" variant="body1-bold" tag="p">{{
      comparisonData.description
    }}</SlpTypography>
    <div v-for="section in comparisonData.sections" :key="section.title">
      <SlpTypography variant="body1-bold" tag="p" class="slp-mt-48">
        {{ section.title }}
      </SlpTypography>
      <div class="content" v-html="$md.render(section.content)">
        {{ section.content }}
      </div>
    </div>
    <div v-if="comparisonData.additional !== undefined" class="slp-mt-48">
      <SlpTypography variant="heading5-bold" tag="p">
        {{ comparisonData.additional.title }}
      </SlpTypography>
      <div
        class="content"
        v-html="$md.render(comparisonData.additional.content)"
      >
        {{ comparisonData.additional.content }}
      </div>
    </div>
    <SlpButton
      v-if="comparisonData.button"
      class="zero-padding slp-mt-64"
      variant="tertiary"
      :href="comparisonData.button.link"
    >
      {{ comparisonData.button.title }}
      <SlpIcon
        name="chevron-lg-right"
        variant="product"
        alt="Chevron Right Icon"
      />
    </SlpButton>
  </div>
</template>

<style scoped lang="scss">
.content {
  margin-left: $spacing-16;
  &:deep ul {
    list-style: disc;

    li {
      margin-left: $spacing-24;
    }
  }

  &:deep li {
    margin-top: $spacing-8;
  }
}

.zero-padding {
  padding-left: 0px;
}

ul {
  margin-left: $spacing-24;
  list-style: disc;

  li {
    margin-top: $spacing-16;

    &:first-child {
      margin-top: $spacing-24;
    }
  }
}

.analysis-pane {
  padding: $spacing-32 $spacing-24 $spacing-48 $spacing-24;
}

.analysis-pane-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  .slp-icon {
    width: 32px;
    height: 32px;
  }

  @media (max-width: $breakpoint-md) {
    display: none;
  }
}
</style>
