<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <div class="competitor-cards-wrapper">
    <div class="header">
      <SlpTypography variant="heading2-bold" tag="h2">
        More comparisons</SlpTypography
      >
      <SlpButton
        class="competition-link tertiary-button"
        variant="tertiary"
        href="/competition/"
        >See how GitLab compares
        <SlpIcon name="chevron-lg-right" variant="product" hex-color="#171321"
      /></SlpButton>
    </div>
    <div class="competitors">
      <div v-for="competitor in data.cards" :key="competitor.name" class="card">
        <div class="stage">
          <SlpIcon
            :name="competitor.icon"
            size="md"
            variant="marketing"
            class="icon"
          />
          <SlpTypography variant="body2"
            >{{ competitor.stage }} stage</SlpTypography
          >
        </div>
        <SlpTypography variant="heading5-bold" class="title"
          >GitLab vs {{ competitor.name }}</SlpTypography
        >
        <SlpTypography variant="body1" class="description">{{
          competitor.description
        }}</SlpTypography>
        <SlpButton
          variant="tertiary"
          class="tertiary-button"
          :href="competitor.link"
          >View comparison
          <SlpIcon
            name="chevron-lg-right"
            variant="product"
            hex-color="#171321"
        /></SlpButton>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.competitor-cards-wrapper {
  padding: $spacing-96 0;
}
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  .competition-link {
    margin-right: $spacing-24;
  }
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.competitors {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }
}
.card {
  margin-right: $spacing-32;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  min-height: 360px;
  background: $color-surface-50;
  border-radius: 4px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: $spacing-16;
    margin-right: 0;
  }
  .stage {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-32;
    .icon {
      margin-right: $spacing-8;
      width: 24px;
      height: 24px;
    }
  }
  .title {
    margin-bottom: $spacing-16;
  }
  .description {
    margin-bottom: auto;
  }
}
.tertiary-button {
  padding-left: 0;
}
</style>
