<script lang="ts">
import Vue from 'vue';
import SecurityContentBlock from './security-content-block.vue';
import SecurityResourcesFeatureCard from './security-resources-feature-card.vue';

export default Vue.extend({
  name: 'SecurityResourcesFeature',
  components: {
    SecurityContentBlock,
    SecurityResourcesFeatureCard,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <section class="security-resources-feature">
    <SlpContainer>
      <SlpRow class="slp-align-items-center">
        <SlpColumn :cols="data.copy.column_size || 12">
          <SecurityContentBlock :data="data.copy" />
        </SlpColumn>
        <SlpColumn
          :cols="data.resources.column_size || 12"
          class="security-resources-feature__cards"
        >
          <SecurityResourcesFeatureCard :data="data.resources.items" />
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.security-resources-feature {
  margin: $spacing-32 auto $spacing-32 auto;
  @media (min-width: $breakpoint-md) {
    margin: $spacing-32 auto $spacing-96 auto;
  }
  &__cards {
    @media (min-width: $breakpoint-md) {
      padding-left: $spacing-64;
    }
  }
}
</style>
