<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SecurityResourcesFeatureCard',
  components: {},
  props: {
    data: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
  },
});
</script>

<template>
  <div class="security-resources-feature-card">
    <div
      v-for="item in data"
      :key="item.text"
      class="security-resources-feature-card__item"
    >
      <SlpIcon
        class="slp-mr-8"
        :variant="item.icon.variant"
        :name="item.icon.name"
        size="sm"
      />
      <SlpTypography variant="body1" tag="div">
        <div v-html="$md.render(item.text)"></div>
      </SlpTypography>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.security-resources-feature-card {
  background: $color-surface-800;
  border-radius: $spacing-4;
  padding: $spacing-32 $spacing-24 $spacing-8;
  width: 100%;
  margin: $spacing-32 0 0 0;
  @media (min-width: $breakpoint-md) {
    margin: 0 auto;
  }
  &__item {
    display: flex;
    margin: 0 0 $spacing-24;
  }
}
</style>
