<script>
export default {
  props: {
    data: {
      required: true,
      type: Object,
      default: null,
    },
  },
};
</script>

<template>
  <nav class="desktop-navigation">
    <NuxtLink
      to="/"
      class="logo"
      data-ga-name="home"
      data-ga-location="event nav"
    >
      <SlpIcon variant="marketing" name="gitlab" size="md" />
    </NuxtLink>
    <ul class="links">
      <li v-for="link in data.links" :key="link.href">
        <a
          :href="link.href"
          :data-ga-name="link.data_ga_name"
          :data-ga-location="link.data_ga_location"
          >{{ link.text }}</a
        >
      </li>
      <li v-if="data.cta">
        <SlpButton variant="primary" :href="data.cta.button_href">{{
          data.cta.button_text
        }}</SlpButton>
      </li>
    </ul>
  </nav>
</template>

<style lang="scss" scoped>
.desktop-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-16;

  @media (max-width: 900px) {
    gap: $spacing-8;
  }
}

.links {
  display: flex;
  gap: $spacing-32;
  align-items: center;

  li a:not(.slp-btn) {
    font-size: 20px;
    line-height: 24px;
    color: $color-text-200;
  }
}
.logo {
  display: inline;
  position: relative;
}
</style>
